<p><strong>Chair:</strong><br>
Dr. Michael A. Leeds<br>
831 Ritter Annex<br>
<a href="tel:2152048030">(215) 204-8030</a><br>
<a href="mailto:mleeds@temple.edu">mleeds@temple.edu</a></p>
<hr>
<p><strong>Director of Graduate Studies:</strong><br>
Douglas Webber<br>
877 Ritter Annex<br>
<a href="tel:2152045025">(215) 204-5025</a><br>
<a href="mailto:douglas.webber@temple.edu">douglas.webber@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Ms. Belinda Wilson<br>
821 Ritter Annex<br>
<a href="tel:2152040472">(215) 204-0472</a><br>
<a href="mailto:jvincent@temple.edu">bwilson@temple.edu</a></p>
<hr>
<p><strong>Coordinators:</strong><br>
<p><strong>Graduate Coordinator:</strong><br>  
Linda Wyatt<br>
873 Ritter Annex<br>
<a href="tel:2152046638">(215) 204-6638</a><br>
<hr>  
Ms. Janice Vincent<br>
825 Ritter Annex<br>
<a href="tel:2152048880">(215) 204-8880</a><br>
<a href="mailto:jvincent@temple.edu">jvincent@temple.edu</a></p>
<hr>
<script type="text/javascript" src="https://form.jotform.com/jsform/81136149088157"></script>
