<h2>Affiliated Faculty</h2>

<p>The affiliated Economics faculty consists of faculty members from different departments/colleges who serve as mentors for undergraduate independent research studies and for Master’s projects.<p/>

<h3>Political Science<h3>
  <ul>
<li><a href="https://liberalarts.temple.edu/vander-wielen-ryan-j">Ryan Vander-Wielen</a></li>
  </ul>
  
 <h3>Fox School of Business- Finance<h3> 
   <ul>
<li><a href="http://www.fox.temple.edu/mcm_people/dr-elyas-elyasiani/">Elyas Elyasiani, Ph.D.</a></li>   
   </ul>
</div>
