<h2>Affiliated Faculty</h2>

<p>The affiliated Economics faculty consists of faculty members from different departments/colleges who serve as mentors for undergraduate independent research studies and for Master’s projects.<p/>

<strong>Political Science<strong>
<a href="https://liberalarts.temple.edu/vander-wielen-ryan-j">Ryan Vander-Wielen</a>
   </ul>
   
 <strong>Fox School of Business- Finance<strong> 
<li><a href="http://www.fox.temple.edu/mcm_people/dr-elyas-elyasiani/">Elyas Elyasiani, PhD</a></li>   
   </ul>
</div>
