<h2>Emeritus Faculty</h2>
  
<p>Retired and emeriti professors maintain connections to the Department, but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Department.</p>

<ul>
   <li><a href="">Richard Bernstein</a><li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/bowman-gary">Gary Bowman</a></li>
   <li><a href="">Andrew Buck</a><li>
   <li><a href="">William Dunkelberg</a><li>
   <li><a href="">Michael Goetz</a><li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/holmes-william-lynn">William Holmes</a></li>
   <li><a href="">Paul Rapoport</a><li>
   <li><a href="https://liberalarts.temple.edu/academics/faculty/phelps-charlotte">Charlotte Phelps</a></li>
</ul>
